<!doctype html>
<html lang="en" ng-app="dashboardApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Data Stream :: Dashboard</title>
<link rel="stylesheet" href="styles/bootstrap.css">
<script src="scripts/angular.js"></script>
<script src="scripts/angular-resource.js"></script>
<script src="scripts/angular-route.js"></script>
<script src="js/DashboardController.js"></script>
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet">
</head>
<body>
	<div class="container" ng-controller="DashboardCtrl">
		<p></p>
		<div class="row">
			<div class="col-md-3 container">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#">#Keys <span class="badge">{{keys.length}}</span></a></li>
					<!-- <li><a href="#">Search Terms<span class="badge">{{searchTerms.length}}</span></a></li> -->
				</ul>
			</div>
			<div class="container col-md-9" id="main" ng-view>
					<div class="container-fluid">
							<span class="navbar-brand">Search the cached items [{{tweets.length}}]: 
								<input type="text" ng-model="searchText" ngsearchtext="searchMe(searchText);" />
							</span>
					</div>
			</div>
			
		</div>
		<div class="alert alert-info autocompletepanel" ng-show="itemsDisplaPanel">
			<div class="row" ng-repeat="item in itemsArr">
				<blockquote>
					<!-- <a href="javascript:void(0);" ng-click="itemSelectedData(item);"> -->
					{{item}}
					<!-- </a> -->
				</blockquote>
			</div>
		</div>
	</div>
</body>
</html>